@import "style.scss";
.categories-title {
  text-align: center;
  color: black;
  font-family: bungee;
}

.categories-button {
  display: flex;
  justify-content: center;
}
.filter-button {
  font-family: bungee;
  color: white;
  background-color: $bluecolor;
  border: 2px solid $bluecolor;
  border-radius: 50% 20%/10% 40%;
  margin: 1rem;
}
.filtres-container {
  label {
    align-items: center;
    width: 100%;
  }
}
