@import "style.scss";

body {
  background-image: url("./assets/images/backgroundbook.png");
  background-size: cover;
}

.contact-container {
  width: 80%;
  display: grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.2fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  align-items: center;
  background: $whitecolor;
  border: 1px solid $bluecolor;
  border-radius: 10px;
  margin: 0 auto;

  h3 {
    grid-area: 1 / 1 / 2 / 3;
    font-family: bungee;
    justify-self: center;
  }
}

img {
  grid-area: 2 / 1 / 3 / 2;
  justify-self: center;
}
.form-container {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
  width: 80%;
}

label {
  display: flex;
  flex-direction: column;
  margin: 10px;
  // width: 100%;
}

input[type="text"],
input[type="email"] {
  margin: 1rem;
  height: 40px;
}

input[type="textarea"] {
  margin: 1rem;
  height: 100px;
}

button[type="submit"] {
  align-self: center;
  width: 30%;
  height: 50px;
  background-color: $bluecolor;
  border: 0;
  color: #fff;
  border: 2px solid $bluecolor;
  border-radius: 50% 20% / 10% 40%;
  margin: 10px 0;
  font-family: bungee;
  font-size: 16px;
}
