@import "style.scss";

// le header container contient le Apropos, le pnaier, l
//le logo et slogan , le menu explore et la barre de recherche
.header-container {
  display: flex;
  flex-direction: column;
  background-size: cover;

  // apropos gère le lien vers la page A propos et le panier
  .apropos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    height: 3rem;

    a {
      font-family: bungee;
      text-decoration: none;
      color: black;
    }
  }

  .about {
    cursor: pointer;
    padding: 10px;
    background: none;
    border: none;
    font-size: inherit;
    font-family: bungee;
    color: inherit;
    padding: 0;
    width: 11rem;
    margin-right: 2rem;
  }
}

// logocontainer gère le logo, les images et le slogan
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $title-font;
  border: 1px solid black;
  background-color: black;
  margin: 1rem 2rem;
}
.logo {
  display: flex;
  align-items: center;
}

.logoimage img {
  width: 100px;
  height: 100px;
}

.jeudecarte img {
  width: 50px;
  height: 50px;
}

.slogan {
  display: flex;
  align-items: center;
}

h1 {
  margin: 0;
  color: $whitecolor;
  font-size: 10vw;
}

h2 {
  color: $whitecolor;
  font-size: 3.5vw;
}

a {
  text-decoration: none;
}

// Menu
.navigation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Explore-container {
  display: flex;
  justify-content: center;
}

.default-option {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

.selected-option {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.menu-open .options-container {
  display: block;
}

.selected-option {
  text-decoration: none;
  color: black;
}

button.default-option {
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 7vw;
  font-family: bungee;
  color: inherit;
}

.options-container {
  width: 100%;
  max-height: 200px;
  background-color: $blackcolor;
  border-radius: 5px;
  z-index: 1;
  display: none;
  top: 100%;
  border: 1px solid $yellowcolor;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  width: 20rem;
  padding: 0 1rem 1rem 1rem;

  a {
    color: $whitecolor;
    font-family: bungee;
    font-size: 1rem;
  }
}

.menu-open {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

//Searchbar
.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formsearchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;

  input {
    margin: 1rem 0.5rem;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  .logoimage img {
    width: 125px;
    height: 125px;
  }

  .jeudecarte img {
    width: 75px;
    height: 75px;
  }

  .navigation-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .Explore-container {
    display: flex;
    justify-content: center;
  }

  button.default-option {
    font-size: 2rem;
  }

  .menu-open {
    margin-bottom: 1rem;
  }
}
