@import "style.scss";

// Panier container
.panier-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

// Content container
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}

// Panier title
.panier-title {
  margin-top: 1rem;
  font-size: 4vw;
  font-family: "Bungee", cursive;
  margin-bottom: 2rem;
  align-self: center;
  color: black;
}

// Cards container
.cards-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}

// Card container
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid $bluecolor;
  padding-bottom: 1rem;

  &.hidden {
    display: none;
  }
}

// Info container
.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  font-family: bungee;
}

// Quantity container
.quantity-container {
  display: flex;
  align-items: center;

  span {
    margin-right: 0.5rem;
  }

  input {
    width: 30px;
  }
}

// Everything related to the order
.summary-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

// Modified summary-container
.order-container {
  background-image: url(/src/assets/images/backgroundbook.png);
  background-size: cover;
  background-color: grey;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.order-details {
  // margin-bottom: 1rem;
  font-family: bungee;
  color: $whitecolor;
  font-size: 0.8rem;
}

.validate-button {
  background-color: #5cafad;
  border: 2px solid #5cafad;
  border-radius: 50% 20%/10% 40%;
  color: white;
  font-family: Magz;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  &:hover {
    background-color: #228b22;
  }
}
.delete-button {
  width: 10rem;
  background-color: $bluecolor;
  height: 3rem;
  color: white;
  font-family: inherit;
  background-color: #b8302c;
  border: 1px solid #b8302c;
  border-radius: 50% 20% / 10% 40%;
}

input {
  width: 50%;
  align-self: center;
  margin-right: 1rem;
}
button {
  margin-top: 0.8rem;
}

.return-button {
  background-color: #1f69aa;
  border: 2px solid #1f69aa;
  border-radius: 50% 20%/10% 40%;
}

// Media queries for responsive design

@media screen and (min-width: 768px) {
  .panier-title {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .content-container {
    flex-direction: row;
  }

  .card-container {
    flex-direction: row;
  }

  .info-container {
    flex-direction: row;
    justify-content: flex-start;
  }
}
