@import "style.scss";

.superhero-container {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 5%;
  background-image: url(./src/assets/images/backgroundbook.png);
  background-size: cover;
  background-color: black;

  img {
    padding: 1rem;
  }
  button {
    padding: 1rem;
    margin: 10px;
    font-family: $title-font;
    color: $whitecolor;
    background-color: $bluecolor;
    border: 2px solid $bluecolor;
    border-radius: 50% 20% / 10% 40%;
    width: inherit;
  }
  figcaption {
    text-align: center;
    margin-top: 10px;
    color: $whitecolor;
    font-family: $category-font;
  }
}
